  /**********************/
  /* OverlayPlay plugin */
  /**********************/
  wc-overlay-play 
    width: 100vw
    height: 100vh
    max-width: 100vw
    max-height: 100vh
    position: absolute
    z-index: 2
    top: 0
  
  wc-overlay-play .overlayPlayContainer 
    width: 100vw
    height: 100vh
    max-width: 100vw
    margin-top: -56px
    margin-left: -38px
    max-height: 100vh
    position: absolute
    display: table
    cursor: pointer
    zoom: 1
    opacity: 0.6
  
  wc-overlay-play .overlayPlayContainer div 
    vertical-align: middle
    text-align: center
    display: table-cell

    md-icon
      font-size: 100px
  