  /*****************/
  /* Poster plugin */
  /*****************/
  wc-poster 
    height 100vh
    width 100vw
    position: absolute
    display: block
    z-index: 1
    top: 0
    bottom: 0
    right: 0
    left: 0
    pointer-events: none
    -webkit-filter brightness(45%)
    background-size cover
    background-repeat no-repeat
    background-position top center

  wc-poster img 
    height 100vh
    width 100vw
    margin: auto
    position: absolute
  
  wc-poster img.pause,
  wc-poster img.play 
    display: none
  
  wc-poster img.stop 
    display: block
  