<pt-sidebar state="browser.state"></pt-sidebar>

<md-content class="list-region viewfadein" id="content">
  <div class="top-tools">
    <h1 id="section-title" class="title">{{ browser.title }}</h1>

    <div ng-show="browser.filters" id="filterbar-toolbar" class="filters-wrapper">
      <pt-filter-bar type="browser.state.type" list="browser.filters" on-change="browser.onChange({params: params})" class="bottom filter-bar">
      </pt-filter-bar>
    </div>
  </div>

  <div id="main-list-content" ng-show="browser.data && browser.backdrop">
    <background-cycler class="bg-fade" ng-animate-ref="bg-fade"></background-cycler>

    <md-content layout-padding>
      <md-grid-list in-view-container class="list" md-row-height="4:3" md-cols-sm="2" md-cols-gt-sm="3" md-cols-md="4" md-cols-gt-md="5" md-cols-lg="6" md-cols-gt-lg="8" md-gutter-sm="8px" md-gutter-md="12px" md-gutter-lg="16px" md-gutter-gt-lg="16px">

        <md-grid-tile in-view="showItem = true" md-rowspan="2" ng-repeat="(id, item) in browser.data track by id" ui-sref="app.detail({ id: id, type: item.type})" class="item" >
          <div ng-if="showItem" style="display: inline-block; height: 100%; width: 100%">
            <img image-loaded vibrant colors="colors" ng-src="{{ item.images.poster | traktSize:'thumb':item.type }}" width="100%"/>
            <div class="info" ng-style="colors">
              <md-button class="md-fab" ng-style="{ 'background-color': colors.fab }">
                <md-icon md-font-set="material-icons">play_arrow</md-icon>
              </md-button>

              <h3 class="item-title">{{ item.title }}</h3>
              
              <div class="meta">
                {{ item.year }}
                <div class="dot"></div>
                <div class="rating" rating-container ng-if="item.rating" rating="item.rating"></div> 
              </div>
            </div>
          </div>
        </md-grid-tile>

        <md-grid-tile in-view="browser.loadMoreItems()" md-rowspan="2" class="item">
          <div ng-if="showItem" style="display: inline-block; height: 100%; width: 100%">
            Load More Poster
          </div>
        </md-grid-tile>

      </md-grid-list>
    </md-content>
  </div>
  
</md-content>