// angular material theme variables

// accent
$accent-100 =
$accent-500 =
$accent-600 =
$accent-700 =
$accent-A200 =
$accent-A700 =

$accent-color =
$accent-color-0.26 =
$accent-color-0.5 =
$accent-color-0.87 =

$accent-contrast =
$accent-contrast-0.1 =

// background
$background-50 =
$background-100 =
$background-200 =
$background-300 =
$background-400 =

$background-500 =
$background-500-0.2 =

$background-600 =
$background-600-0.3 =

$background-800 =

$background-900 =
$background-900-0.0 =
$background-900-0.48 =

$background-A100 =

$background-color =
$background-contrast =

// button
$button-border-radius =
$button-fab-border-radius =
$button-icon-border-radius =

// card
$card-border-radius =
$card-border-radius = 0 0 $accent-600

$dialog-border-radius =

// foreground
$foreground-1 =
$foreground-2 =
$foreground-2-0.23 =
$foreground-3 =
$foreground-4 = 2px !default

$foreground-shadow =

// primary
$primary-100 =
$primary-500 =
$primary-600 =
$primary-600-1 =
$primary-A200 =

$primary-color =
$primary-color-0.1 =
$primary-color-0.26 =
$primary-color-0.5 =
$primary-color-0.87 =

$primary-contrast =
$primary-contrast-0.1 =

// warn
$warn-100 =
$warn-500 =
$warn-600 =
$warn-700 =
$warn-A200 =

$warn-color =
$warn-color-0.26 =
$warn-color-0.5 =
$warn-color-0.87 =

$warn-contrast =
$warn-contrast-0.1 =