<section id="features">
    <h1>Features</h1>
    <div class="content">
        <md-input-container>
            <label>Torrent Collection</label>
            <md-checkbox ng-model="vm.settings.activateTorrentCollection"></md-checkbox>
        </md-input-container>
        <md-input-container>
            <label>Watchlist</label>
            <md-checkbox ng-model="vm.settings.activateWatchlist"></md-checkbox>
        </md-input-container>
        <md-input-container>
            <label>VPN</label>
            <md-checkbox ng-model="vm.settings.activateVpn"></md-checkbox>
        </md-input-container>
        <md-input-container>
            <label>Randomize Button for Movies</label>
            <md-checkbox ng-model="vm.settings.activateRandomize"></md-checkbox>
        </md-input-container>
    </div>
</section>
