<div class="settings-container-contain">
    <div class="settings-container">
        <div class="fa fa-times close-icon" ng-click="goPrevious()"></div>

        <div class="success_alert" style="display:none">
          Saved&nbsp;
          <span id="checkmark-notify">
            <div id="stem-notify"></div>
            <div id="kick-notify"></div>
          </span>
        </div>

        <section id="title">
            <div class="title">Settings</div>
            <div class="content">
                <span>
                    <i class="fa fa-keyboard-o keyboard tooltipped" data-toggle="tooltip" data-placement="bottom" title="Keyboard Shortcuts"></i>
                    <i class="fa fa-question-circle help tooltipped" data-toggle="tooltip" data-placement="bottom" title="Help Section"></i>
                    <input id="show-advanced-settings" class="settings-checkbox" name="showAdvancedSettings" type="checkbox" ng-model="vm.settings.showAdvancedSettings">
                    <label class="settings-label" for="show-advanced-settings">Show advanced settings</label>
                </span>
            </div>
        </section>

        <section id="user-interface">
            <div class="title">User Interface</div>
            <div class="content">
                <span>
                    <div class="dropdown subtitles-language">
                        <p>Default Language</p>
                        <select ng-options="lang for lang in vm.settings.langs" ng-model="vm.settings.lang" name="language"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

                <span>
                    <div class="dropdown pct-theme">
                        <p>Theme</p>
                        <select ng-options="theme for theme in vm.settings.themes" ng-model="vm.settings.theme" name="theme"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

                <span ng-if="vm.settings.showAdvancedSettings">
                    <div class="dropdown start-screen">
                        <p>Start Screen</p>
                        <select ng-options="screen for screen in vm.settings.start_screens" ng-model="vm.settings.screen" name="start_screen">{{ screen }}</select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

                <span ng-if="vm.settings.showAdvancedSettings">
                    <input class="settings-checkbox" name="translateSynopsis" id="translateSynopsis" type="checkbox" ng-model="vm.settings.translateSynopsis">
                    <label class="settings-label" for="translateSynopsis">Translate Synopsis</label>
                </span>
                <span ng-if="vm.settings.showAdvancedSettings">
                    <input class="settings-checkbox" name="coversShowRating" id="cb3" type="checkbox" ng-model="vm.settings.coversShowRating">
                    <label class="settings-label" for="cb3">Show rating over covers</label>
                </span>

                <span ng-if="vm.settings.showAdvancedSettings">
                    <input class="settings-checkbox" name="alwaysOnTop" id="cb4" type="checkbox" ng-model="vm.settings.alwaysOnTop">
                    <label class="settings-label" for="cb4">Always On Top</label>
                </span>

                <span ng-if="vm.settings.showAdvancedSettings">
                    <div class="dropdown watchedCovers">
                        <p>Watched Items</p>
                        <select ng-options="type for type in vm.watch_types" ng-model="vm.settings.watch_type" name="watchedCovers"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

            </div>
        </section>

        <section id="subtitles">
            <div class="title">Subtitles</div>
            <div class="content">
                <span>
                    <div class="dropdown subtitles-language-default">
                        <p>Default Subtitle</p>
                        <select ng-options="lang for lang in vm.settings.sub_langs" ng-model="vm.settings.sub_lang" name="subtitle_language"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

                <span ng-if="vm.settings.showAdvancedSettings">
                    <div class="dropdown subtitles-font">
                        <p>Font</p>
                            <select ng-options="font for font in vm.sub_fonts" ng-model="vm.settings.sub_font" name="sub_fonts"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

                <span ng-if="vm.settings.showAdvancedSettings">
                    <div class="dropdown subtitles-decoration">
                        <p>Decoration</p>
                        <select ng-options="deco for deco in vm.sub_deco" ng-model="vm.settings.sub_deco" name="sub_deco"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

                <span>
                    <div class="dropdown subtitles-size">
                        <p>Size</p>
                        <select ng-options="size for size in vm.sub_sizes" ng-model="vm.settings.sub_size" name="sub_size"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>

                <span ng-if="vm.settings.showAdvancedSettings">
                    <div class="subtitles-custom">
                        <p>Color</p>
                        <input class="colorsub" id="subtitles_color" type="color" size="7" name="subtitle_color" ng-model="vm.settings.subtitle_color" list="subs_colors">
                            <datalist id="subs_colors">
                                <option>#ffffff</option>
                                <option>#ffff00</option>
                                <option>#ff0000</option>
                                <option>#ff00ff</option>
                                <option>#00ffff</option>
                                <option>#00ff00</option>
                            </datalist>
                    </div>
                </span>

            </div>
        </section>

        <section id="quality" ng-if="vm.settings.showAdvancedSettings">
            <div class="title">Quality</div>
            <div class="content">
                <span>
                    <div class="dropdown movies-quality">
                        <p>Only list movies in</p>
                        <select name="movies_quality">
                            <option ng-selected="vm.settings.movies_quality == 'all'" value="all">All</option>
                            <option ng-selected="vm.settings.movies_quality  == '1080p'" value="1080p">1080p</option>
                            <option ng-selected="vm.settings.movies_quality  == '720p'" value="720p">720p</option>
                        </select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>
                <span>
                    <input class="settings-checkbox" name="moviesShowQuality" id="cb1" type="checkbox" ng-model="vm.settings.moviesShowQuality">
                    <label class="settings-label" for="cb1">Show movie quality on list</label>
                </span>
            </div>
        </section>

        <section id="playback">
            <div class="title">Playback</div>
            <div class="content">
                <span ng-if="vm.settings.showAdvancedSettings">
                    <input class="settings-checkbox" name="alwaysFullscreen" id="alwaysFullscreen" type="checkbox" ng-model="vm.settings.alwaysFullscreen">
                    <label class="settings-label" for="alwaysFullscreen">Always start playing in fullscreen</label>
                </span>
                <span>
                    <input class="settings-checkbox" name="playNextEpisodeAuto" id="playNextEpisodeAuto" type="checkbox" ng-model="vm.settings.playNextEpisodeAuto">
                    <label class="settings-label" for="playNextEpisodeAuto">Play next episode automatically</label>
                </span>
            </div>
        </section>

        <section id="trakt-tv">
            <div class="title">Trakt.tv</div>
            <div class="content">
                <div class="trakt-options" ng-class="{ 'authenticated' : app.Trakt.authenticated }">
                        <span ng-if="app.Trakt.authenticated">
                            You are currently connected to Trakt.tv.
                            <a id="unauthTrakt" class="unauthtext" href="#">Disconnect account</a>
                        </span>
                        <span>
                            <input class="settings-checkbox" name="traktSyncOnStart" id="traktSyncOnStart" type="checkbox" ng-model="vm.settings.traktSyncOnStart">
                            <label class="settings-label" for="traktSyncOnStart">Automatically Sync on Start</label>
                        </span>
                        <span>
                            <input class="settings-checkbox" name="traktPlayback" id="traktPlayback" type="checkbox" ng-model="vm.settings.traktPlayback">
                            <label class="settings-label" for="traktPlayback">Resume Playback</label>
                        </span>
                        <span ng-if="vm.settings.showAdvancedSettings">
                            <div class="btn-settings syncTrakt" id="syncTrakt">
                                <i class="fa fa-refresh">&nbsp;&nbsp;</i>
                                Sync With Trakt
                            </div>
                        </span>

                        <span ng-if="!app.Trakt.authenticated">
                            Connect to Trakt.tv to automatically 'scrobble' episodes you watch in Popcorn Time
                        </span>
                        <span>
                            <div class="btn-settings syncTrakt" id="authTrakt">
                                <i class="fa fa-user-plus">&nbsp;&nbsp;</i>
                                Connect To Trakt
                            </div>
                            <div class="loading-spinner" style="display: none"></div>
                        </span>
                </div>
            </div>
        </section>

        <section id="tvshowtime">
          <div class="title">TVShow Time</div>
          <div class="content">
            <div class="tvshowtime-options" ng-class="{ 'authenticated' : app.TVShowTime.authenticated }">
              <span ng-if="app.TVShowTime.authenticated">
                  You are currently connected to TVShow Time.
                  <a id="disconnect-tvst" class="unauthtext" href="#">Disconnect account</a>
              </span>

              <span ng-if="!app.TVShowTime.authenticated">
                  <div class="btn-settings" id="connect-with-tvst">
                      <i class="fa fa-user-plus">&nbsp;&nbsp;</i>
                      Connect To TVShow Time
                  </div>
                  <div class="tvst-loading-spinner" style="display: none"></div>
              </span>
            </div>
          </div>
        </section>

        <section id="features">
            <div class="title">Features</div>
            <div class="content">
                <span>
                    <input class="settings-checkbox" name="activateTorrentCollection" id="activateTorrentCollection" type="checkbox" ng-model="vm.settings.activateTorrentCollection">
                    <label class="settings-label" for="activateTorrentCollection">Torrent Collection</label>
                </span>
                <span>
                    <input class="settings-checkbox" name="activateWatchlist" id="activateWatchlist" type="checkbox" ng-model="vm.settings.activateWatchlist">
                    <label class="settings-label" for="activateWatchlist">Watchlist</label>
                </span>
                <span>
                    <input class="settings-checkbox" name="activateVpn" id="activateVpn" type="checkbox" ng-model="vm.settings.activateVpn">
                    <label class="settings-label" for="activateVpn">VPN</label>
                </span>
                <span>
                    <input class="settings-checkbox" name="activateRandomize" id="activateRandomize" type="checkbox" ng-model="vm.settings.activateRandomize">
                    <label class="settings-label" for="activateRandomize">Randomize Button for Movies</label>
                </span>
            </div>
        </section>

        <section id="remote-control" ng-if="vm.settings.showAdvancedSettings">
            <div class="title">Remote Control</div>
            <div class="content">
                <span>
                    <p>Local IP Address</p>
                    <input type="text" id="settingsIpAddr" ng-model="vm.settings.ipAddress" readonly="readonly" size="20" />
                </span>
                <span>
                    <p>HTTP API Port</p>
                    <input id="httpApiPort" type="number" size="5" name="httpApiPort" ng-model="vm.settings.httpApiPort">
                </span>
                <span>
                    <p>HTTP API Username</p>
                    <input id="httpApiUsername" type="text" size="50" name="httpApiUsername" ng-model="vm.settings.httpApiUsername">
                </span>
                <span>
                    <p>HTTP API Password</p>
                    <input id="httpApiPassword" type="text" size="50" name="httpApiPassword" ng-model="vm.settings.httpApiPassword">
                </span>
                <div class="btns advanced database">
                    <div class="btn-settings database qr-code">
                        <i class="fa fa-qrcode">&nbsp;&nbsp;</i>
                        Generate Pairing QR code
                    </div>
                </div>
                <div id="qrcode-overlay"></div>
                <div id="qrcode-modal">
                    <span class="fa-stack fa-1x" id="qrcode-close">
                        <i class="fa fa-circle-thin fa-stack-2x" style="margin-top: -2px;"></i>
                        <i class="fa fa-times fa-stack-1x" style="margin-top: -2px;"></i>
                    </span>
                    <canvas id="qrcode" width="200" height="200"></canvas>
                </div><!-- /.modal -->
            </div>
        </section>

        <section id="connection" ng-if="vm.settings.showAdvancedSettings">
            <div class="title">Connection</div>
            <div class="content">
                <span>
                    <p>TV Show API Endpoint</p>
                    <input id="tvshowAPI" type="text" size="50" name="tvshowAPI" ng-model="vm.settings.tvshowAPI.url">
                </span>
                <span>
                    <p>Connection Limit</p>
                    <input id="connectionLimit" type="text" size="20" name="connectionLimit" ng-model="vm.settings.connectionLimit"/>
                </span>
                <span>
                    <p>DHT Limit</p>
                    <input type="text" id="dhtLimit" size="20" name="dhtLimit" ng-model="vm.settings.dhtLimit"/>
                </span>
                <span>
                    <p>Port to stream on</p>
                    <input id="streamPort" type="text" size="20" name="streamPort" ng-model="vm.settings.streamPort"/>&nbsp;&nbsp;<em>0 = Random</em>
                </span>
                <span id="overallRatio">
                    <p>Overall Ratio</p>
  
                    <input type="text" size="20" name="overallRatio" ng-init="overallRatio = vm.overallRatio()" ng-model="overallRatio">
                    <em>
                      {{ vm.settings.totalDownloaded | fileSize }} <i class="fa fa-arrow-circle-down"></i>
                      {{ vm.settings.totalUploaded | fileSize }} <i class="fa fa-arrow-circle-up"></i>
                    </em>
                </span>
            </div>
        </section>

        <section id="cache" ng-if="vm.settings.showAdvancedSettings">
            <div class="title">Cache Directory</div>
            <div class="content">
                <span>
                    <p>Cache Directory</p>
                    <input type="text" placeholder="Cache Directory" id="faketmpLocation" ng-model="vm.settings.tmpLocation" readonly="readonly" size="65" />
                    <i class="open-tmp-folder fa fa-folder-open-o tooltipped" data-toggle="tooltip" data-placement="auto" title="Open Cache Directory"></i>
                    <input type="file" name="tmpLocation" id="tmpLocation" nwdirectory style="display: none;" nwworkingdir="{{ vm.settings.tmpLocation }}" />
                </span>
                <span>
                    <input class="settings-checkbox" name="deleteTmpOnClose" id="cb2" type="checkbox" ng-model="vm.settings.deleteTmpOnClose">
                    <label class="settings-label" for="cb2">Clear Tmp Folder after closing app?</label>
                </span>
            </div>
        </section>

        <section id="database" ng-if="vm.settings.showAdvancedSettings">
            <div class="title">Database</div>
            <div class="content">
                <span>
                    <p>Database Directory</p>
                    <input type="text" placeholder="Database Directory" id="fakedatabaseLocation" ng-model="vm.settings.databaseLocation" readonly="readonly" size="65" />
                    <i class="open-database-folder fa fa-folder-open-o tooltipped" data-toggle="tooltip" data-placement="auto" title="Open Database Directory"></i>
                    <input type="file" name="fakedatabaseLocation" id="fakedatabaseLocation" nwdirectory style="display: none;" nwworkingdir="{{ vm.settings.databaseLocation }}" />
                </span>
                <div class="btns advanced database">
                    <div class="btn-settings database import-database">
                        <i class="fa fa-level-down">&nbsp;&nbsp;</i>
                        Import Database
                    </div>
                    <div class="btn-settings database export-database">
                        <i class="fa fa-level-up">&nbsp;&nbsp;</i>
                        Export Database
                    </div>
                </div>
            </div>
        </section>

        <section id="miscellaneous" ng-if="vm.settings.showAdvancedSettings">
            <div class="title">Miscellaneous</div>
            <div class="content">
                <span >
                    <div class="dropdown tv_detail_jump_to">
                        <p>When Opening TV Series Detail Jump To</p>
                        <select ng-options="jump for jump_to in vm.tv_detail_jump_to" ng-model="vm.settings.jump_to" name="jump_to"></select>
                        <div class="dropdown-arrow"></div>
                    </div>
                </span>
                <span>
                    <input class="settings-checkbox" name="automaticUpdating" id="cb5" type="checkbox" ng-model="vm.settings.automaticUpdating">
                    <label class="settings-label" for="cb5">Activate automatic updating</label>
                </span>
                <span>
                    <input class="settings-checkbox" name="events" id="cb6" type="checkbox" ng-model="vm.settings.events">
                    <label class="settings-label" for="cb6">Celebrate various events</label>
                </span>
                <span>
                    <input class="settings-checkbox" name="minimizeToTray" id="minimizeToTray" type="checkbox" ng-model="vm.settings.minimizeToTray">
                    <label class="settings-label" for="minimizeToTray">Minimize to Tray</label>
                </span>
                <span>
                    <input class="settings-checkbox" name="bigPicture" id="bigPicture" type="checkbox" ng-model="vm.settings.bigPicture">
                    <label class="settings-label" for="bigPicture">Big Picture Mode</label>
                </span>
            </div>
        </section>

        <div class="btns">
            <div class="btn-settings flush-bookmarks advanced">Flush bookmarks database</div>
            <div class="btn-settings flush-subtitles advanced">Flush subtitles cache</div>
            <div class="btn-settings flush-databases">Flush all databases</div>
            <div class="btn-settings default-settings">Reset to Default Settings</div>
        </div>
    </div>
</div>
