main-background-color = rgb(17, 18, 20, 1)
main-background-color-light = rgb(28, 29, 33, 1)
main-text-color = rgb(255, 255, 255, 1)
main-text-color-secondary = rgba(255, 255, 255, 0.6)
main-text-color-inactive = rgba(255, 255, 255, 0.3)
main-color-accent = rgb(63, 81, 181, 1)
disabled-text-color = rgb(122, 122, 122, 1)

.filter-bar
    position absolute
    top 120px
    left 0
    width: 100%
    z-index: 1;
    -webkit-user-select: none
    position: absolute
    
    .filters
        position relative
        font-weight 700
        font-size 1.1em
        z-index 1001
        padding 0
        transition background-color 0.5s ease-out
        .filter
            display inline-block
            margin 0 40px
            .filter-element
                z-index 3
                color #fff
                border none
                font-size 1em
                pt-selectable-element
                    font-weight normal
                pt-selectable-element.selected
                    font-weight bold
                &#filter-order pt-selectable-element:hover
                    background main-color-accent
                &::shadow #options
                    background main-background-color
                &::shadow #arrow
                    opacity 0.7
        &.fixed
                position fixed
                top 0
                left 100px
                right 0
                margin-top 0
                background-color rgba(0, 0, 0, 0.8)
    
    .search
        position relative
        right: 150px;
           