main-background-color = rgb(17, 18, 20, 1)
main-background-color-light = rgb(28, 29, 33, 1)
main-text-color = rgb(255, 255, 255, 1)
main-text-color-secondary = rgba(255, 255, 255, 0.6)
main-text-color-inactive = rgba(255, 255, 255, 0.3)
main-color-accent = rgb(63, 81, 181, 1)
disabled-text-color = rgb(122, 122, 122, 1)

.filter-bar
    width: 100%
    -webkit-user-select: none

    .filter-element
        z-index 3
        color #fff
        border none
        font-size 20px
        pt-selectable-element
            font-weight normal
        pt-selectable-element.selected
            font-weight bold
        &#filter-order pt-selectable-element:hover
            background main-color-accent
        &::shadow #options
            background main-background-color
        &::shadow #arrow
            opacity 0.7
