.loading-view
  font-family 'Roboto', sans-serif
  position absolute
  height 100vh
  width 100vw
  background-color #17181b
  z-index 3
  overflow hidden
  .bg-backdrop
    position fixed
    height 100vh
    z-index -1
    width 100vw
    opacity 0
    background-position center
    background-size cover
    background-repeat no-repeat
    transition opacity 0.3s ease-in-out
    &.fadein
      opacity 1
  .overlay
    position absolute
    top 0
    right 0
    z-index -1
    bottom 0
    left 0
    background-color rgba(13, 13, 13, 0.67)
  .back
    float left
    margin-top 54px
    margin-left 28px
    z-index 2
    color #fff
    cursor pointer
    font-size 42px
    &::shadow
      core-icon
        height 36px
        width 36px
  .title
    color #fff
    max-width 80vw
    height 50px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin-top 60px
    margin-left 27px
    float left
    font-size 42px
    font-weight 500
  .episode-info
    color #fff
    margin-top 120px
    margin-left 107px
    font-size 22px
    font-weight 500
    position absolute
  .meta-container
    width calc(100vw - 107px - 107px)
    height 80vh
    left 107px
    right 107px
    top calc(((100vh - 152px) / 2))
    position absolute
    .status
      color #fff
      width 100%
      margin-bottom 30px
      text-align center
      font-size 22px
      font-weight 500
    .progressbar
      width 100%
      position relative
      height 4px
    .stats
      width: 100%
      text-align: center
      color: #fff
      opacity: .6
      font-size: 16px
      margin-top: 30px

@media (max-height: 700px)
  .loading-view
    .title
      margin-top 40px
      margin-left 17px
      font-size 38px
    .episode-info
      margin-top 90px
      margin-left 85px
    .back
      margin-top 37px
      margin-left 22px
      &::shadow core-icon
          width 32px
          height 32px
    .meta-container
      width calc(100vw - 85px - 85px)
      left 85px
      right 85px