.settings-view
  font-family 'Roboto', sans-serif
  position absolute
  height 100vh
  width 100vw
  background-color #17181b
  z-index 3
  overflow hidden
  overflow-y scroll
  .back
    float left
    margin-top 54px
    margin-left 28px
    z-index 2
    color #fff
    cursor pointer
    font-size 42px
    &::shadow
      core-icon
        height 36px
        width 36px
  .title
    color #fff
    margin-top 60px
    margin-left 27px
    float left
    font-size 42px
    font-weight 500
  .sep
    width 100vw
    height 130px
  section
    float left
    width 100vw
    h1
      text-transform uppercase
      color #cecece
      float left
      position relative
      width 260px
      text-align right
      font-size 20px
    .content
      height 100%
      min-height 200px
      position relative
      width calc(100vw - 300px)
      border-left 1px
      border-color #494a4e
      border-style solid
      float right
      .content-row
        top 10px
        width 100%
        margin-bottom 10px
        padding-left 80px
        height 40px
        font-size 16px
        position relative
        color #cecece
        p
          height 20px
          float left
          position absolute
          font-size 17px
  paper-checkbox
    left 500px
    position absolute
    &::shadow
      #ink[checked]
        color #317bf6
  .menu
    .core-selected
      background-color #317bf6
  .settings-dropdown
    top -30px
    position absolute
    left 500px

.settings-view paper-dropdown::shadow #ripple,
.settings-view paper-dropdown::shadow #background
  background-color #1b1d21

.settings-view .dropup, .dropdown
  position absolute
