.show-detail
    position absolute
    height 100vh
    font-family 'Roboto', sans-serif
    width 100vw
    background-color #17181b
    overflow: hidden
    z-index 1
    .bg-backdrop
        position fixed
        height 100vh
        width 100vw
        opacity 0
        background-position center
        background-size cover
        background-repeat no-repeat
        &.fadein
            transition: opacity .3s ease-in;
            opacity: 1

    .overlay
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background-color rgba(13, 13, 13, 0.67)

    .summary-wrapper
        position relative
        width 100vw
        height 25vh
        .back
            float left
            margin-top 54px
            margin-left 28px
            z-index 2
            color #FFF
            cursor pointer
            font-size 42px
            &::shadow core-icon
                height 36px
                width 36px
        .title
            color #FFF
            margin-top 60px
            margin-left 27px
            float left
            font-size 42px
            font-weight 500
        .watched-toggle, .bookmark-toggle
            position absolute
            z-index 2
            top 60px
            right 140px
            color #fff
            &::shadow core-icon
                width: 28px;
                height: 28px;
        .bookmark-toggle
            right 80px

        .seasons-container
            width 100%
            color: #fff
            &::shadow #selectionBar
                background-color: #fff;
                
        paper-tab
            cursor pointer
            font-size 20px
            text-transform uppercase
            padding 16px 0
            font-weight 600
            opacity 0.5
            
            &::shadow #ink
                color: #fff;
            
            &.core-selected
                opacity 1
                
    .seasons-wrapper
        position absolute
        top 145px
        height auto
        left 20px
        right 80px
    .info-wrapper
        position absolute
        width 100vw
        height calc(100vh - 240px)
        top 240px
        bottom 0
        .poster-shadow
            position absolute
            width 100vw
            height 100vh
        .poster
            position absolute
            top 0
            bottom 50px
            left 110px
            height calc(100vh - 240px - 50px)
            width calc((100vh - 240px - 50px) * 2 / 3)
            opacity 0
            z-index 3
            border-radius 2px
            &.fadein
                transition: opacity .3s ease-in;
                opacity: 1
        .meta-container
            position absolute
            top 0
            bottom 0px
            left calc(((100vh - 240px - 50px) * 2 / 3) + 170px)
            right 60px
            padding-left 20px
            padding-right 20px
            padding-bottom 30px
            height calc(100% - 180px)
            overflow-y auto
            overflow-x hidden
            z-index 2
            &::-webkit-scrollbar
                width 2px
            &::-webkit-scrollbar-track
                box-shadow inset 0 0 6px rgba(0, 0, 0, 0.1)
            &::-webkit-scrollbar-thumb
                background rgba(255, 255, 255, 0.22)
        .meta-item
            float left
            color #ffffff
            i
                font-size 17px
            p
                font-size 15px
                margin-top 2px
        .meta-synop
            text-align justify
            text-justify inter-word
            padding-right 5px
            margin-top 44px
            position relative
            color #ffffff
            width 100%
            line-height 25px
            font-size 15px
        .meta-btn
            color #ffffff
            font-weight 500
            padding-top 2px
            margin-top 20px
            &#trakt-link
                margin-left -10px
        .meta-dot
            float left
            position relative
            background-color #ffffff
            margin-top 6px
            margin-left 16px
            margin-right 16px
            width 7px
            height 7px
            border-radius 50%
        .meta-divider
            width 100%
            position relative
            margin-top 36px
            margin-bottom 41px
            background-color rgba(255, 255, 255, 0.12)
            height 1px
        .people
            position relative
            width 100%
            height 17px
            margin-bottom 5px
            p
                color #ffffff
                font-size 15px
                float left
            .person
                padding-bottom 3px
                cursor pointer
                transition border-color, color 100ms linear
                &:hover
                    color rgba(255, 255, 255, 0.7)
                    text-decoration none
            .status
                color rgba(255, 255, 255, 0.45) !important
                font-size 15px
                float left
                margin-left 8px
    .episode-container
        position absolute
        top 0
        bottom 0px
        left calc(((100vh - 240px - 50px) * 2 / 3) + 170px)
        right 60px
        padding-right 20px
        padding-bottom 30px
        height calc(100% - 180px)
        overflow-y auto
        overflow-x hidden
        z-index 1
        &::-webkit-scrollbar
            width 2px
        &::-webkit-scrollbar-track
            box-shadow inset 0 0 6px rgba(0, 0, 0, 0.1)
        &::-webkit-scrollbar-thumb
            background rgba(255, 255, 255, 0.22)
        li
            height 45px
            list-style none
            color #ffffff
            cursor default
            overflow hidden
            &.active
                transition background-color 150ms ease-in-out
                background-color #3F51B5
                borderleft-radius 1px
                border box-shadow 0 2px 5px rgba(0, 0, 0, 0.39)
                paper-icon-button
                    visibility visible
                p
                    &.episode-airdate
                        visibility visible
                &.watched
                    p
                        &.episode-id
                            color rgba(255, 255, 255, 1)
                        &.episode-name
                            color rgba(255, 255, 255, 1)
            &.watched
                p
                    &.episode-id
                        color rgba(255, 255, 255, 0.4)
                    &.episode-name
                        color rgba(255, 255, 255, 0.4)
                paper-icon-button
                    &.watched-icon
                        opacity 0.9
            p
                &.episode-id
                    text-transform uppercase
                    line-height 45px
                    font-size 14px
                    float left
                    letter-spacing 0.3px
                    margin-left 17px
                    font-weight 400
                &.episode-name
                    line-height 45px
                    font-size 14px
                    max-width: 16vw
                    float left
                    white-space nowrap
                    overflow hidden
                    text-overflow ellipsis
                    letter-spacing 0.3px
                    margin-left 25px
                    font-weight 400
                &.episode-airdate
                    line-height 45px
                    font-size 13.5px
                    float right
                    position relative
                    visibility hidden
                    letter-spacing 0.6px
                    margin-right 33px
                    font-weight 500
                    opacity 0.7
            paper-icon-button
                font-size 22px
                line-height 45px
                visibility hidden
                margin-top 2px
                cursor pointer
                &.info-icon
                    float right
                    margin-right 15px
                &.watched-icon
                    float right
                    margin-right 5px
                    opacity 0.5
    .season-next
        position absolute
        right 40px
        width 19px
        color #ffffff
        margin-top 15.5vh
    .season-prev
        position absolute
        color #ffffff
        left 65px
        width 19px
        margin-top 15.5vh
    .controls-container
        position absolute
        height 180px
        width 100vw
        right 0
        bottom 0px
        background-color #111214
        z-index 2
        .watchnow-btn
            cursor pointer
            padding-left 17px
            padding-right 17px
            color #fff
            font-weight 500
            font-size 15px
            text-align center
            text-transform uppercase
            border-radius 4px
            float right
            position absolute
            top 65px
            right 80px
            transition 0.5s
            background-color #3F51B5
            &:hover
                background-color #3a499b
            &:active
                background-color #2d41b1
                transition 0.2s
            i
                margin-right 9px
                float left
                line-height 25px
        .meta-container-c
            top 29px
            position absolute
            left calc(((100vh - 240px - 50px) * 2 / 3) + 190px)
            width 300px
            li
                width 100%
                list-style none
                margin 0
                padding 0
                ul
                    &.dropdown
                        display none
                        position absolute
                        left -15px
                        padding-top 5px
                        background-color #1C1D21
                        width 250px
                        border-radius 1px
                        z-index 5
                        bottom 0px
                        box-shadow 0 3px 18px rgba(0, 0, 0, 0.24), inset 0 1px 0 rgba(255, 255, 255, 0.1)
                        i
                            float left
                        li
                            list-style none
                            margin 0
                            height 32px
                            margin-bottom 3px
                            &:hover
                                background-color #3F51B5
                            p
                                padding-right 60px
                                line-height 31px
                            i
                                line-height 32px
                                margin-left 15px
                        &.visable
                            display block
                &.quality-toggle
                    pt-toggle::shadow #icon
                        color: white
                    p
                        opacity 0.5
                        &.active
                            opacity 1
                &.subtitles-dropdown
                    padding-left 1em
                    color: white

                    pt-dropdown
                        z-index 5
                        width 100%
                    pt-dropdown::shadow #label
                        pt-selectable-element 
                            display inline-block
                        #icon
                            margin-right 9px;
                    
                    pt-dropdown::shadow #options 
                        right 0
                    
                    pt-selectable-element.selected 
                        font-weight bold
                    
                    pt-selectable-element:hover 
                        background #3F51B5
                            
                &.device-dropdown
                    color: white
                    pt-dropdown
                        z-index: 5
                    pt-selectable-element.selected 
                        font-weight: bold

                    pt-selectable-element:hover 
                        background: #3F51B5
            p
                font-size 14px
                text-shadow 1px 0px 2px rgba(20, 19, 21, 1)
                cursor pointer
                color #ffffff
                float left
                position relative
                margin-left 10px
                left 10px
                font-weight 500
                line-height 25px
    li
        ul
            &.dropdown
                li
                    i
                        line-height 32px
                        margin-left 15px

.show-detail .episode-container ul,
.show-detail .show-info
    display none
    opacity 0
    transition all 0.3s ease

.show-detail .episode-container ul.episode-list-show,
.show-detail .episode-list-show
    display block
    opacity 1

.show-detail .episode-container li.active p.episode-id,
.show-detail .episode-container li.active p.episode-name
    font-weight 500

