.show-detail
    position absolute
    height 100vh
    font-family 'Roboto', sans-serif
    width 100vw
    background-color #17181b
    .bg-backdrop
        position fixed
        height 100vh
        width 100vw
        z-index 1
        opacity 0
        background-position center
        background-size cover
        background-repeat no-repeat
        &.fadein
            transition: opacity .3s ease-in;
            opacity: 1

    .overlay
        position absolute
        top 0
        z-index 1
        right 0
        bottom 0
        left 0
        background-color rgba(0, 0, 0, .4)
    .summary-wrapper
        position relative
        width 100vw
        z-index 1
        height 25vh
        .watched-toggle
            margin-top 66px
            margin-right 22px
            color #fff
            font-size 24.5px
            width 22px
            opacity .5
            float right
            cursor pointer
        .back
            float left
            margin-top 50px
            margin-left 34px
            color #FFF
            cursor pointer
            font-size 42px
        .title
            color #FFF
            margin-top 44px
            text-shadow 1px 0px 2px rgba(20, 19, 21, 1)
            margin-left 17px
            float left
            font-size 44px
            font-weight 400
        .bookmark-toggle
            margin-top 66px
            margin-right 66px
            font-size 25px
            color #fff
            float right
            cursor pointer
    .seasons-container
        width 100%
        li
            cursor pointer
            list-style none
            float left
            letter-spacing 0.5px
            font-size 16px
            color #ffffff
            text-transform uppercase
            padding-left 16px
            padding-right 16px
            height 27px
            font-weight 600
            text-shadow 1px 0px 2px rgba(20, 19, 21, 1)
            opacity 0.5
            &.active
                border-bottom-color #ffffff
                border-bottom-style solid
                border-bottom-width 2px
                opacity 1
    .seasons-wrapper
        position absolute
        top 16.5vh
        height 30px
        left 84px
        right 67px
    .info-wrapper
        position relative
        width 100vw
        height 75vh
        .poster
            margin-left 100px
            position relative
            width 45vh
            opacity: 0
            z-index 3
            border-radius 2px
            box-shadow 0 1px 5px rgba(0, 0, 0, 0.39)
            &.fadein
                transition: opacity .3s ease-in;
                opacity: 1
        .meta-container
            position absolute
            z-index 1
            bottom 20px
            top 1px
            left calc(45vh + 130px)
            right 55px
            height 47vh
            overflow-y auto
            overflow-x hidden
        .meta-item
            float left
            color #ffffff
            i
                font-size 17px
                margin-left 1px
                margin-right 1px
            p
                font-size 15px
                margin-top 2px
        .meta-synop
            text-align justify
            text-justify inter-word
            padding-right 5px
            margin-top 44px
            position relative
            color #ffffff
            width 100%
            line-height 25px
            font-size 15px
        .show-info
            &::-webkit-scrollbar
                width 5px
            &::-webkit-scrollbar-track
                box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)
                border-radius 10px
            &::-webkit-scrollbar-thumb
                border-radius 10px
                background rgba(255, 255, 255, 0.58)
                box-shadow inset 0 0 6px rgba(0, 0, 0, 0.5)
        .meta-dot
            float left
            position relative
            background-color #ffffff
            margin-top 6px
            margin-left 16px
            margin-right 16px
            width 7px
            height 7px
            border-radius 50%
        .meta-divider
            width 100%
            position relative
            margin-top 33px
            margin-bottom 33px
            background-color rgba(101, 101, 101, 0.55)
            height 3px
        .people
            position relative
            width 100%
            height 17px
            margin-bottom 5px
            .status
                color #ffffff
                font-size 15px
                float left
                margin-left 8px
                color rgba(255, 255, 255, 0.45)
            p
                color #ffffff
                font-size 15px
                float left
    .episode-container
        bottom 10px
        position absolute
        z-index 1
        top 0px
        right 0px
        height 56vh
        overflow-y scroll
        left calc(43vh + 120px)
        &::-webkit-scrollbar
            width 5px
        &::-webkit-scrollbar-track
            box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)
            border-radius 10px
        &::-webkit-scrollbar-thumb
            border-radius 10px
            background rgba(255, 255, 255, 0.58)
            box-shadow inset 0 0 6px rgba(0, 0, 0, 0.5)
        li
            height 45px
            list-style none
            color #ffffff
            cursor default
            &.active
                background-color #3F51B5
                borderleft-radius 1px
                border box-shadow 0 2px 5px rgba(0, 0, 0, 0.39)
                i
                    visibility visible
                p
                    &.episode-airdate
                        visibility visible
            &.watched
                p
                    &.episode-id
                        color rgba(255, 255, 255, 0.4)
                    &.episode-name
                        color rgba(255, 255, 255, 0.4)
                i
                    &.watched-icon
                        opacity 0.9
            p
                &.episode-id
                    text-transform uppercase
                    line-height 45px
                    font-size 14px
                    float left
                    letter-spacing 0.3px
                    margin-left 17px
                    font-weight 400
                &.episode-name
                    line-height 45px
                    font-size 14px
                    float left
                    letter-spacing 0.3px
                    margin-left 25px
                    font-weight 400
                &.episode-airdate
                    line-height 45px
                    font-size 13.5px
                    float right
                    position relative
                    visibility hidden
                    letter-spacing 0.6px
                    margin-right 33px
                    font-weight 500
            i
                font-size 22px
                line-height 45px
                visibility hidden
                cursor pointer
                &.info-icon
                    float right
                    margin-right 71px
                &.watched-icon
                    float right
                    margin-right 33px
                    opacity 0.5
    .season-next
        position absolute
        right 40px
        width 19px
        color #ffffff
        margin-top 15.5vh
    .season-prev
        position absolute
        color #ffffff
        left 65px
        width 19px
        margin-top 15.5vh
    .controls-container
        bottom 0px
        z-index 2
        background-color #111214
        position absolute
        height 19vh
        right 0
        width 100vw
        .watchnow-btn
            cursor pointer
            padding-left 17px
            padding-right 17px
            color #fff
            font-weight 500
            font-size 15px
            text-align center
            text-transform uppercase
            height 44px
            line-height 44px
            padding-bottom 2px
            border-radius 4px
            box-shadow 0 2px 5px rgba(0, 0, 0, 0.39)
            float right
            position absolute
            top 10vh
            right 60px
            transition 0.5s
            background-color #3F51B5
            &:hover
                background-color #3a499b
            &:active
                background-color #2d41b1
                transition 0.2s
            i
                margin-right 9px
                float left
                line-height 44px
        .meta-container-c
            top 4vh
            position absolute
            left calc(45vh + 140px)
            i
                font-size 25px
                color #ffffff
                float left
            li
                width 100%
                list-style none
                margin-bottom 2vh
                height 24px
                ul
                    &.dropdown
                        display none
                        position absolute
                        left -15px
                        padding-top 5px
                        background-color #1C1D21
                        width 250px
                        border-radius 1px
                        z-index 5
                        bottom 0px
                        box-shadow 0 3px 18px rgba(0, 0, 0, 0.24), inset 0 1px 0 rgba(255, 255, 255, 0.1)
                        i
                            float left
                        li
                            list-style none
                            margin 0
                            height 32px
                            margin-bottom 3px
                            &:hover
                                background-color #3F51B5
                            p
                                padding-right 60px
                                line-height 31px
                        &.visable
                            display block
                &.quality-toggle
                    p
                        opacity 0.5
                        &.active
                            opacity 1
            p
                font-size 14px
                text-shadow 1px 0px 2px rgba(20, 19, 21, 1)
                cursor pointer
                color #ffffff
                float left
                position relative
                margin-left 10px
                left 10px
                font-weight 500
                line-height 25px
    li
        ul
            &.dropdown
                li
                    i
                        line-height 32px
                        margin-left 15px

.show-detail .episode-container ul,
.show-detail .show-info
    display none
    opacity 0
    transition all 0.3s ease

.show-detail .episode-container ul.episode-list-show,
.show-detail .episode-list-show
    display block
    opacity 1

.show-detail .episode-container li.active p.episode-id,
.show-detail .episode-container li.active p.episode-name
    font-weight 500

