header
    z-index 10
    font-family 'Roboto', sans-serif
    -webkit-app-region drag
    width 100vw
    height 35px
    position fixed
    span
        z-index 10
        text-align center
        position fixed
        width 100vw
        margin-top 10px
        color aliceblue
        opacity 0.9
        font-size 16px
        font-weight 500
    .os-controls
        margin-top 11px
        z-index 11
        -webkit-app-region no-drag
        margin-right 11px
        right 0px
        position absolute
        div
            margin-right 6px
            cursor pointer
            opacity 0.6
            color #ffffff
            height 16px
            width 16px
            float right
            text-shadow 1px 0px 2px rgba(20, 19, 21, 1)
            &:hover
                opacity 0.9
            &.close
                position relative
                top -2px

