<md-button class="md-icon-button" style="position: fixed; right: 40px; top: 25px" role="button" ng-if="!header.torrentId">
    <md-icon style="font-size: 3em; color: white; height: 1em; width: 1em">search</md-icon>
</md-button>

<div>
  <pt-filter-bar-item ng-if="filters.list.types" items="filters.list.types" selected="filters.params.type" menu-open="filters.menuOpen" label='Type'></pt-filter-bar-item>

  <pt-filter-bar-item ng-if="filters.list.genres" items="filters.list.genres" selected="filters.params.genre" menu-open="filters.menuOpen" label='Genre'></pt-filter-bar-item>

  <pt-filter-bar-item ng-if="filters.list.sorters" items="filters.list.sorters" selected="filters.params.sort_by" menu-open="filters.menuOpen" label='Sort by'></pt-filter-bar-item>
</div>
<!--<div class="right search">
    <form id="filterbar-search">
        <md-input-container flex>
          <label>Search</label>
          <input ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }" ng-model="filters.params.query">
        </md-input-container>
    </form>
</div>-->