<div class="list-region viewfadein" when-scrolled="list.loadMoreItems()" id="content">
  <div id="main-list-content">
    <div class="list-backdrop fadein" style="background-image: url({{ list.backdrop }});">  </div>

    <div class="top-tools">
      <h1 id="section-title" class="title">{{ list.type | titleCase }}</h1>

      <div ng-show="list.filters" id="filterbar-toolbar" class="filters-wrapper">
        <div filter-bar list="list.filters" on-change="list.onChange({params: params})" class="bottom filter-bar">
        </div>
      </div>
    </div>

    <md-content layout-padding>
      <md-grid-list pt-lazy-scroll md-row-height="4:3" md-cols-sm="2" md-cols-gt-sm="3" md-cols-md="4" md-cols-gt-md="5" md-cols-lg="6" md-cols-gt-lg="8" md-gutter-sm="8px" md-gutter-md="12px" md-gutter-lg="16px" md-gutter-gt-lg="16px">

        <md-grid-tile md-rowspan="2" ui-sref="app.browser.list.detail({ id: id, listType: list.type })" ng-repeat="(id, item) in list.data track by id" class="item" >
          <div style="display: inline-block; height: 100%; width: 100%">
            <img image-loaded vibrant colors="colors" ng-src="{{ item.images.poster | traktSize:'thumb':item.type }}" width="100%"/>
            <div class="info" ng-style="colors">
              <md-button class="md-fab">
                <md-icon md-font-set="material-icons">play_arrow</md-icon>
              </md-button>

              <h3 class="item-title">{{ item.title }}</h3>
              
              <div class="meta">
                {{ item.year }}
                <div class="dot"></div>
                <div class="rating" rating-container ng-if="item.rating" rating="item.rating"></div> 
              </div>
            </div>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </md-content>

  </div>
</div>