<img ng-mouseover="item.ratingStar = true" image-loaded vibrant colors="colors" ng-src="{{ item.images.poster | traktSize:'thumb':item.type }}" width="100%"/>

<div class="info" ng-style="colors">
    <md-button class="md-fab">
      <md-icon md-font-set="material-icons">play_arrow</md-icon>
    </md-button>
    <h3 class="item-title">{{ item.title }}</h3>
    
    <div class="meta">
      {{ item.year }}

      <div class="dot"></div>
        
      <div class="rating" rating-container ng-if="item.ratingStar && item.rating" rating="item.rating"></div> 
    </div>
</div>
