  <div style="padding-top: 27px; font-size: 20pt; width: 80px; text-align: center">{{ torrent.data.progress[0].toFixed(0) }}%</div>
    <div class="md-list-item-text">
      <h4><a ng-href="{{ torrent.data.files[0].link }}" target="_blank">{{ torrent.data.name || 'Fetching metadata...' }}</a></h4>
      <p>
        <strong>Speed:</strong>
        {{ torrent.data.stats.speed.down / 1024 | number:1 }} / {{ torrent.data.stats.speed.up / 1024 | number:1 }} KB/s
        <md-icon md-font-set="material-icons">swap_vertical_circle</md-icon>

        <strong>Traffic:</strong>
        <span class="label label-success">{{ torrent.data.stats.traffic.down / 1024 / 1024 | number:1 }}</span> /
        <span class="label label-danger">{{ torrent.data.stats.traffic.up / 1024 / 1024 | number:1 }}</span> MB
        <md-icon md-font-set="material-icons">swap_vertical_circle</md-icon>

        <strong>Peers:</strong>
        <span class="label label-success">{{ torrent.data.stats.peers.unchocked | number }}</span> /
        <span class="label label-default">{{ torrent.data.stats.peers.total | number }}</span>
        <md-icon md-font-set="material-icons">account_circle</md-icon>

        <strong>Queue:</strong>
        <span class="label label-primary">{{ torrent.data.stats.queue | number }}</span>
      </p>
    </div>
    <md-button class="md-fab" ng-click="torrent.pause(torrent.data, $event)" style="margin: 14px 20px">
      <md-icon md-font-set="material-icons">{{ torrent.data.stats.paused ? 'play_arrow' : 'pause_circle' }}</md-icon>
    </md-button>