<div class="bg-backdrop fadein">
    <img image-loaded ng-src="{{ show.data.images.fanart | traktSize:'medium':data.type }}" width="100%"/>
</div>

<pt-summary-wrapper class="summary-wrapper" title="show.data.title"></pt-summary-wrapper>

<md-tabs md-selected="show.selectedSeason">
    <md-tab class="md-title">
        <md-tab-label>Show Info</md-tab-label>
        <md-tab-body class="info-wrapper">
            <!-- Poster Image -->
            <img image-loaded ng-src="{{ show.data.images.poster | traktSize:'thumb':show.data.type }}" class="poster">
            <!-- Meta Container -->
            <pt-meta-container show="show.data"></pt-meta-container>
        </md-tab-body>
    </md-tab>
    
    <md-tab ng-repeat="(number, season) in show.seasons | orderBy:predicate:reversed">
        <md-tab-label>
          Season {{ number }}
        </md-tab-label>
        <md-tab-body class="info-wrapper">
            <!-- Poster Image -->
            <img image-loaded ng-src="{{ show.data.images.poster | traktSize:'thumb':show.data.type }}" class="poster">
            <!-- Episode Container --> 
            <pt-episode-container ng-show="show.selectedSeason" episodes="show.seasons[number]" selected-episode="show.selectedEpisode"></pt-episode-container>
        </md-tab-body>
    </md-tab>
</md-tabs>


<!-- Controls Container --> 
<pt-controls-container></pt-controls-container>
