<!-- Left Side -->
<md-button ng-click="summary.goBack()" class="back md-icon-button" role="button">
    <md-icon md-font-set="material-icons" role="button" tabindex="0" aria-label="arrow-back">arrow_back</md-icon>
</md-button>

<div class="title">
    {{ summary.title }}
</div>

<!-- Right Side -->
<md-button class="md-icon-button bookmark-toggle" role="button" ng-if="summary.torrentId">
    <md-icon md-font-set="material-icons">bookmark_outline</md-icon>
</md-button>

<md-button class="md-icon-button watched-toggle" role="button" ng-if="summary.torrentId">
    <md-icon md-font-set="material-icons">visibility_off</md-icon>
</md-button>
