$accent-100 = #cfd8dc
$accent-500 = #607d8b
$accent-600 = #546e7a
$accent-700 = #455a64
$accent-A200 = #ffffff
$accent-A700 = #455a64

$accent-color = $accent-A200
$accent-color-26 = rgba($accent-color, 0.26)
$accent-color-5 = rgba($accent-color, 0.50)
$accent-color-87 = rgba($accent-color, 0.87)

$accent-contrast = #000000
$accent-contrast-1 = rgba($accent-contrast, 0.1)

$background-50 = #fafafa
$background-100 = #f5f5f5
$background-200 = #eeeeee
$background-300 = #e0e0e0
$background-400 = #bdbdbd
$background-500 = #9e9e9e
$background-500-2 = rgba($background-500, 0.2)
$background-600 = #757575
$background-600-3 = rgba($background-600, 0.3)
$background-800 = #424242
$background-900 = #212121
$background-900-0 = rgba($background-600, 0)
$background-900-48 = rgba($background-600, 0.48)
$background-A100 = #ffffff

$background-color = #000000
$background-contrast = #ffffff

$button-border-radius = 3px
$button-fab-border-radius = 50% 
$button-icon-border-radius = $button-fab-border-radius

$card-border-radius = 2px 
$dialog-border-radius = 4px 

$foreground-1 = rgba(255, 255, 255, 1.0)
$foreground-2 = rgba(255, 255, 255, 0.7)
$foreground-2-23 = rgba($foreground-2, 0.23)
$foreground-3 = rgba(255, 255, 255, 0.3)
$foreground-4 = rgba(255, 255, 255, 0.12)

$foreground-shadow = '1px 1px 0px rgba(0,0,0,0.4), -1px -1px 0px rgba(0,0,0,0.4)'

$primary-100 = #cfd8dc
$primary-500 = #607d8b
$primary-600 = #546e7a
$primary-700 = #455a64
$primary-A200 = #ffffff

$primary-color = #ffffff
$primary-color-26 = rgba($primary-color, 0.26)
$primary-color-5 = rgba($primary-color, 0.50)
$primary-color-87 = rgba($primary-color, 0.87)

$primary-contrast = #000000
$primary-contrast-1 = rgba($primary-contrast, 0.1)

$warn-100 = #cfd8dc
$warn-500 = #607d8b
$warn-600 = #546e7a
$warn-700 = #455a64
$warn-A200 = #ffffff

$warn-color = #2d2d2d

$warn-color-26 = rgba($warn-color, 0.26)
$warn-color-5 = rgba($warn-color, 0.50)
$warn-color-87 = rgba($warn-color, 0.87)

$warn-contrast = #000000
$warn-contrast-1 = rgba($warn-contrast, 0.1)