<md-content>
    <md-list>
      <md-subheader>
        <div layout="row" class="title"></div>
        <div layout="row" class="external-play">Streaming to<span class="player-name"></span></div>
        <!-- download -->
        <div layout="row" class="text_download">{{ state }}</div>

        <md-progress-linear md-mode="determinate" value="{{ torrent.progress[0] }}"></md-progress-linear>
      </md-subheader>
      <md-list-item>
        <p>Download</p>
        <span>{{ torrent.stats.speed.down | fileSize }}</span>
      </md-list-item>
      <md-list-item>
        <p>Upload</p>
        <span>{{ torrent.stats.speed.up | fileSize }}</span>
      </md-list-item>
      <md-list-item>
        <p>Active Peers</p>
        <span>{{ torrent.stats.peers.total }}</span>
      </md-list-item>
    </md-list>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-fab md-mini md-primary" aria-label="Stop">
            <md-icon md-font-set="material-icons">skip_previous</md-icon>
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Play">
           <md-icon md-font-set="material-icons">play_arrow</md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" aria-label="Pause">
            <md-icon md-font-set="material-icons">pause</md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" aria-label="Stop">
            <md-icon md-font-set="material-icons">stop</md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" aria-label="Stop">
            <md-icon md-font-set="material-icons">skip_next</md-icon>
        </md-button>
    </section>

    <section layout="row" layout-align="center center">
        <md-button class="md-primary md-raised" ng-click="stopPlaying()">Cancel</md-button>
    </section>

    <section layout="row" ng-if="ctrl.noSpace">
        <span class="warn">Your disk is almost full.</span><br>
        <span class="detail">You need to make more space available on your disk by deleting files.</span>
    </section>

</md-content>

