<section id="title">
    <h1>Settings</h1>
    <div class="content">
        <div class="content-row">
            <i class="fa fa-keyboard-o keyboard tooltipped" data-toggle="tooltip" data-placement="bottom" title="Keyboard Shortcuts"></i>
            <i class="fa fa-question-circle help tooltipped" data-toggle="tooltip" data-placement="bottom" title="Help Section"></i>
            <input id="show-advanced-settings" class="settings-checkbox" name="showAdvancedSettings" type="checkbox" ng-model="vm.settings.showAdvancedSettings">
            <label class="settings-label" for="show-advanced-settings">Show advanced settings</label>
        </div>
    </div>
</section>
